@model FakePieShop.Models.ViewModels.PieListViewModel

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>List</title>
    </head>

    <body>
        <h1>@Model.CurrentCategory</h1>
        @foreach (var pie in Model.Pies)
        {
            <div>
                <h2>@pie.Name</h2>
                <p>@pie.Price.ToString("c")</p>
                <p>@pie.Category</p>
            </div>
        }
    </body>
</html>